@model ResumeBuilder.Models.ViewModels.VMPersonalInfo
@{
    FormActions action = ViewData.ContainsKey("Action") ? (FormActions)ViewData["Action"] : FormActions.None;
    string context = ViewData.ContainsKey("Context") ? ViewData["Context"].ToString() : "User";
    string id = ViewData.ContainsKey("ResumeId") ? ViewData["ResumeId"].ToString() : "";
}

<div id="personal-info-form" class="d-flex flex-row">
    <div style="flex:1">
        <form asp-action="Create" id="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mb-2">
                <input asp-for="FirstName" class="form-control" style="border-bottom:var(--bs-border-width) solid var(--bs-border-color)" />
                <label asp-for="FirstName" class="control-label"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="LastName" class="form-control" style="border-bottom:var(--bs-border-width) solid var(--bs-border-color)" />
                <label asp-for="LastName" class="control-label"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Email" class="form-control" style="border-bottom:var(--bs-border-width) solid var(--bs-border-color)" />
                <label asp-for="Email" class="control-label"></label>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="PhoneNumber" class="form-control" style="border-bottom:var(--bs-border-width) solid var(--bs-border-color)" />
                <label asp-for="PhoneNumber" class="control-label"></label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Address" class="form-control" style="border-bottom:var(--bs-border-width) solid var(--bs-border-color)" />
                <label asp-for="Address" class="control-label"></label>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="PostalCode" class="form-control" style="border-bottom:var(--bs-border-width) solid var(--bs-border-color)" />
                <label asp-for="PostalCode" class="control-label"></label>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="LinkedInURL" class="form-control" style="border-bottom:var(--bs-border-width) solid var(--bs-border-color)" />
                <label asp-for="LinkedInURL" class="control-label"></label>
                <span asp-validation-for="LinkedInURL" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="WebsiteURL" class="form-control" style="border-bottom:var(--bs-border-width) solid var(--bs-border-color)" />
                <label asp-for="WebsiteURL" class="control-label"></label>
                <span asp-validation-for="WebsiteURL" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="GitHubAccount" class="form-control" style="border-bottom:var(--bs-border-width) solid var(--bs-border-color)" />
                <label asp-for="GitHubAccount" class="control-label"></label>
                <span asp-validation-for="GitHubAccount" class="text-danger"></span>
            </div>
            <div id="user-create-btns" style="display:none">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div id="edit-btns" class="mb-2" style="display:none">
                <div class="form-group">
                    <button id="submit-btn" type="button" class="btn btn-primary">Save</button>
                    <button id="cancel-btn" type="button" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div class="text-end">
        <button class="btn-icon" id="edit-btn" type="button" style="font-size:1.5rem;"><i class="fas fa-edit"></i></button>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> *@
<script type="text/javascript">

    $(document).ready(function () {
        const parent = $('#personal-info-form');
        const inputs = $(parent).find('input');
        const editBtns = $(parent).find('#edit-btns');

        let isEditing = false;
        if ('@(action == FormActions.Edit)' == 'True')
            isEditing = true;
        else if ('@(action == FormActions.Create)' == 'True')
            $(parent).find('#cancel-btn').css('display', 'none');

        updateFormState();

        function updateFormState() {
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].readOnly = !isEditing;
                if (isEditing) {
                    inputs[i].classList.add("form-control");
                    inputs[i].classList.remove("form-control-plaintext");
                    $(editBtns).css('display', 'block');
                }
                else {
                    inputs[i].classList.remove("form-control");
                    inputs[i].classList.add("form-control-plaintext");
                    $(editBtns).css('display', 'none');
                }
            }
        }

        $(parent).find("#edit-btn").click(function () {
            isEditing = !isEditing;
            updateFormState();
        });

        $(parent).find("#submit-btn").click(function () {
            const form = $(parent).find("#form");
            let endpoint = '@Url.Action("UpdatePersonalInfo")';
            if ('@context' == 'Resume') {
                endpoint = endpoint.concat("?resumeId=@id");
                console.log(endpoint);
            }
            if ($(form).valid()) {
                var formData = $(form).serialize();
                $.ajax({
                    url: endpoint,
                    type: "PUT",
                    data: formData,
                    success: function (response) {
                        isEditing = false;
                        updateFormState();
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText);
                    }
                });                
            }
        });

        $(parent).find("#cancel-btn").click(function () {
            isEditing = false;
            updateFormState();
        });
    });
</script>