@model List<ResumeBuilder.Models.ViewModels.VMResume>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Resume Name
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.ResumeInfo != null && item.Name != null)
                        {
                            @Html.DisplayFor(modelItem => item.Name)
                        }
                        else
                        {
                            <p>Resume</p>
                        }
                    </td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" asp-for="@item.Id" name="id" />
                            <a asp-action="Details" asp-route-id="@item?.Id"><i class="fas fa-eye"></i></a>
                            <a asp-action="Edit" asp-route-id="@item?.Id"><i class="fas fa-edit"></i></a>
                            <button class="transparent-btn" type="submit">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }        
    </tbody>
</table>
