.main-container{
    width:100%;
    display:flex;
    /*flex-wrap:nowrap;*/
}

#customAccordion{
    width:100%;
}

.resume-editor-container {
    display: flex;
    flex:1;
    width:100%;
    flex-direction: column;
    /*height: 100vh;*/
    /*overflow: hidden;*/
}

    .resume-editor-container .resume {
        width: 60%;
    }

.resume-editor {
    width: 40%;
    overflow-y: auto;
    overflow-x: hidden;
}

    .resume-editor .editor {
        width: 100%;
    }

    .resume-editor .resume {
        border: 10px;
    }

.editable-content-cont{
    display:flex;
    flex-direction:row;
}

#resume-preview-container{
    flex:1;
    /*max-height:200px;
    width:50px;
    overflow:hidden*/
}

@media (max-width: 800px) {
    .main-container {        
        flex-wrap: wrap;
    }
    .resume-editor-container {
        min-width: 100%;
    }
    .resume-editor {
        min-width: 100%;
    }
    .media-container {
        min-width: 100%;
    }
}