@model ResumeBuilder.Models.ViewModels.VMPersonalInfo

@{
    ViewData["Title"] = "Personal Info";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h4>Personal Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>      
            @Html.EditorFor(model => model)            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

